.container-box.dark{
    background-color: rgba(0, 0, 0, 0.674);
    color: white;
}


.container-box.red{
    background-color: rgba(255, 174, 174, 0.674);
    color: rgb(41, 32, 32);
}




.form.dark{
    background-color: rgba(0, 0, 0, 0.674);
    color: white;
}


.form.red{
    background-color: rgba(255, 174, 174, 0.674);
    color: rgb(41, 32, 32);
}